include ../_partials/mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
      title Linh kiện điện tử Công Nghiệp
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no")
      link(rel="stylesheet", href="style.css")
      block head_end
  body
    #wrapper
      include ../_partials/header
      include ../_partials/sitebar
      block content
      include ../_partials/footer
    //#wrapper
    //JS
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    block body_end
  