.header{
  &__top{
    background-color: #1899ed;
    line-height: 35px;
    color: #ffffff;
    font-size: 18px;
    vertical-align: middle;
    .hot{
      margin-left: 45px;
    }
    ul>li{
      padding: 0 15px;
    }
  }
  &__mid{
    padding: 10px 0;
  }
  &__logo{
    a{
      display: block;
    }
  }
  &__search{
    display: inline-block;
    width: 80%;
    position: relative;
    form{
      line-height: 51px;
      vertical-align: middle;
      input[type="search"]{
        padding: 8px 15px;
        width: 100%;
        border: 1px solid #000;
        border-radius: 4px;
      }
    }
    button{
      position: absolute;
      top: 29%;
      left: 95%;
      background: transparent;
      border: none;
      z-index: 9;
      cursor: pointer;
    }
  }
  &__cart{
    a{
      display: block;
      padding: 8px 15px;
      border: 1px solid #ddd;
      border: 1px solid #22b7ff;
      border-radius: 3px;
      max-width: 75%;
      margin: 10px auto;
      font-weight: 500;
      img{
        vertical-align: middle;
        margin-right: 5px;
      }
      &:hover{
        background-color: #22b7ff;
        color: #ffffff;
      }
    }
  }
  &__bottom{
    background-color: #ff3333;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    
  }
  &__category{
    line-height: 48px;
    vertical-align: middle;
  }
  &__menu{
    ul{
      display: table;
      width: 100%;
      li{
        line-height: 48px;
        vertical-align: middle;
        display: table-cell;
        position: relative;
        text-align: center;
      }
    }
    ul>li>a{
      display: block;
      vertical-align: middle;
      font-size: 14px;
    }
    li>ul{
      position: absolute;
      margin: 0;
      padding: 0;
      left: 0;
      width: 250px;
      transition: all 1s ease;
      z-index: 1;
      top: -100%;
      li{
        background-color: #ff3333;
        display: block;
        width: 100%;
        padding: 0 15px;
        overflow: hidden;
        transition: all 1s ease;
        height: 0;
        opacity: 0;
        overflow: hidden;
      }
    }
    li:hover{
      background-color: #22b7ff;
    }
    li:hover >ul{
      top: 48px;
    }
    li:hover >ul li{
      opacity: 1;
      height: 100%;
    }
  }
}