header#header.header
  .header__top
    .container
        .col.col-50
          .phone
            span.buy-online Mua hàng online: 1900.03.44
            span.hot Than phiền: 01684.083.084
        .col.col-50
          .header__content--contact.text-right
            ul.list-inline
              li
                a.dangnhap(href="#") Đăng nhập
              li
                a.dangky(href="#") Đăng ký
        .clear-fix
  .header__mid
    .container
      .col.col-16
        .header__logo.text-center
          a(href="#")
            img(src="images/logo.png", alt="logo")
      .col.col-66
        .header__search
          form(action="")
            input(type="search" placeholder="Tìm kiếm ...")
            button
              img.icon2(src="images/search.png", alt="")
      .col.col-16
        .header__cart
          a.text-center(href="#")
            img.icon2(src="images/cart.png", alt="")
            span Giỏ hàng: 0 (SP)
      .clear-fix
  .header__bottom
    .container
      .col.col-16
        .header__category
          p danh mục
      .col.col-83
        .header__menu
          ul.list-inline
            li
              a(href="#") giá sốc
            li
              a(href="#") sản phẩm mới
            li
              a(href="#") hướng dẫn
              ul
                li
                  a(href="#") video hướng dẫn mua hàng
                li
                  a(href="#") hình ảnh hướng dẫn minh họa
                li
                  a(href="#") hd đặt mua linh kiện
                li
                  a(href="#") hành trình bưu điện
                li
                  a(href="#") liên hệ
            li
              a(href="#") sự kiện
            li
              a(href="#") kỹ thuật
            li
              a(href="#") trung tâm bảo hành
            li
              a(href="#") tuyển dụng
      .clear-fix
