aside#category.category
  .category__content
    ul
      li
        a(href="#")
          img(src="", alt="")
          span Vi điều khiển - Nhúng
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")
      li
        a(href="#")