mixin breadcum()
  // パンくずー
  ul.breadCrumb.clearfix
    li.breadItem
      a(href='../../index.html') ニーズツアートップ
    li.breadItem
      a(href='../index.html') 沖縄旅行
    li.breadItem 沖縄お役立ち情報
  //breadCrumb